<div class="modal fade" id="selectedImageModal" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img *ngIf="selectedImage" src="{{selectedImage.url}}" >
      </div>
    </div>
  </div>
</div>
<ul id="thumbnailsList" class="container">
  <li *ngFor="let image of datasource"  >
    <img src="{{image.url}}" class="tn"
         width="191" height="146"
         data-toggle="modal" data-target="#selectedImageModal"
         (click)=setSelectedImage(image)>
    <div class="overlay">
      <div class="text">Hello World</div>
    </div>
  </li>
</ul>

